Example 4: This shows a fetch from rodin ie7 compatible
<table class="general-table table table-hover">
  <thead>
     <tr>
    </tr>
    </thead>
    <tbody id="rows">
    <tr><td>Name:</td><td>{{ model.attributes.attributes.display-name.value }}</td></tr>
    <tr><td>Notes:</td><td>{{ model.attributes.attributes.notes.value }}</td></tr>
    <tr><td>Description:</td><td>{{ model.attributes.attributes.description.value }}</td></tr>
    <tr><td>time-modified:</td><td>{{ model.attributes.attributes.time-modified.value }}</td></tr>

   </tbody>
</table>
<br>
<br>