Example 3: This shows a table with a custom field
<table class="general-table table table-hover">
  <thead>
     <tr>
      {{#each fields }}
        <th>{{ name }}</th>
      {{/each}}
    </tr>
    </thead>
    <tbody id="rows">
      {{#each collection.models }}
        {{ row "row" this fields=../fields }}
      {{/each}}
   </tbody>
</table>
<br>
<br>